<!DOCTYPE HTML>
<html lang="en">
	<head>
		<meta charset="utf-8"> 
		<title>Hacker Typer</title>
		<link href="/HackerTyper/resource/style.css" rel="stylesheet" type="text/css" /> 
		
		<script src='http://apps.bdimg.com/libs/jquery/1.5.2/jquery.min.js' type='text/javascript'></script> 
		<script src='/HackerTyper/resource/script.js' type='text/javascript'></script> 

		<script type='text/javascript'>
			Typer.speed=3;
			Typer.file='/HackerTyper/resource/kernel.txt';
			Typer.init();
		</script>
	</head> 
	<body>
		<a href="javascript:;" onclick="requestFullScreen()">全屏</a>
		<script type="text/javascript">
			//全屏
			function requestFullScreen() {
				var de = document.documentElement;
			    if (de.requestFullscreen) {
			        de.requestFullscreen();
			    } else if (de.mozRequestFullScreen) {
			        de.mozRequestFullScreen();
			    } else if (de.webkitRequestFullScreen) {
			        de.webkitRequestFullScreen();
			    }
			}
		</script> 
		<div id='console'></div>
	</body>
</html>
